.wrap{  
  margin: 15px auto 50px auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.clicker{
  background-color: white;
  outline: none;  
  font-weight: 600;
  position:absolute;
  cursor: pointer;
  padding: 0;
  border: none;
  height: 64px;
  width: 64px;
  left: 8px;
  top: 8px;
  border-radius: 100px;
  z-index: 2;
}

.clicker:active{
    transform: translate(0, 1px);
    height: 63px;
    box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle{
    position: relative;
    border-radius:40px;
    width: 80px;
    height: 80px;
    z-index: 1;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.circle.third{
  border-radius: 0;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    
.angled {
      background-image: linear-gradient(45deg, 
                white 0%,
                white 30%,
                rgb(20,190,235) 30%,
                rgb(20,190,235) 70%, 
                white 70%, 
                white 100%);
    }

*, *:before, *:after {
   -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* BUTTON 1 */


.one .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.one .button-bg {
  width: 100%;
  height: 50px;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.one .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  border:solid 13px;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.one .button-active .button-switch { left:50px; }
.one .button-in, 
.one .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.one .button-in { margin-left:76px; }
.one .button-out { margin-left:18px; color:#dd2222; }
.one .button-active .button-out { color:#fff; }
.one .button-active .button-in { color:#22dd22; }
.one .button-active .button-bg { background-color:#000; }

.greenbg {
  background:url('../img/greenbg.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size : cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border-color: #009900;
  min-height: 90%;
}

.main {
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.mainfont {
  font-size:25px;
  color:#fff;
  text-align:center;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
}


  @-webkit-keyframes spincube {
    0%  { -webkit-transform: rotateX(0deg) rotateY(0deg); }
    100%      { -webkit-transform: rotateX(1080deg) rotateY(360deg);                           
    }
  }

  @keyframes spincube {
    0%  { -webkit-transform: rotateX(0deg) rotateY(0deg); }
    100%      { -webkit-transform: rotateX(1080deg) rotateY(360deg);                           
    }
  }

  .cubespinner {
    -webkit-animation-name: spincube;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;

    animation-name: spincube;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 12s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-transform-origin: 60px 60px 0;
    -moz-transform-origin: 60px 60px 0;
    -ms-transform-origin: 60px 60px 0;
    transform-origin: 60px 60px 0;
  }

  .cubespinner div {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.8);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 120px;
    text-align: center;
    font-size: 100px;
  }

  .cubespinner .face1 {
    -webkit-transform: translateZ(60px);
    -moz-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
  }
  .cubespinner .face2 {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
  }
  .cubespinner .face3 {
    -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
    transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
  }
  .cubespinner .face4 {
    -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
  }
  .cubespinner .face5 {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
  }
  .cubespinner .face6 {
    -webkit-transform: rotateX(-90deg) translateZ(60px);
    -moz-transform: rotateX(-90deg) translateZ(60px);
    -ms-transform: rotateX(-90deg) translateZ(60px);
    transform: rotateX(-90deg) translateZ(60px);
  }

