.wrap{  
  margin: 15px auto 50px auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.clicker{
  background-color: white;
  outline: none;  
  font-weight: 600;
  position:absolute;
  cursor: pointer;
  padding: 0;
  border: none;
  height: 64px;
  width: 64px;
  left: 8px;
  top: 8px;
  border-radius: 100px;
  z-index: 2;
}

.clicker:active{
    transform: translate(0, 1px);
    height: 63px;
    box-shadow: 0px 1px 0 0 rgb(190,190,190) inset;
}

.circle{
    position: relative;
    border-radius:40px;
    width: 80px;
    height: 80px;
    z-index: 1;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

.circle.third{
  border-radius: 0;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

    
.angled {
      background-image: linear-gradient(45deg, 
                white 0%,
                white 30%,
                rgb(20,190,235) 30%,
                rgb(20,190,235) 70%, 
                white 70%, 
                white 100%);
    }

*, *:before, *:after {
   -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* BUTTON 1 */


.one .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.one .button-bg {
  width: 100%;
  height: 50px;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.one .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  border:solid 13px;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.one .button-active .button-switch { left:50px; }
.one .button-in, 
.one .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.one .button-in { margin-left:76px; }
.one .button-out { margin-left:18px; color:#dd2222; }
.one .button-active .button-out { color:#fff; }
.one .button-active .button-in { color:#22dd22; }
.one .button-active .button-bg { background-color:#000; }

.main {
  background-image:url('../img/greenbg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  border-color: #009900;
  width: 100%;
  height:90%;
}

.mainfont {
  margin-top:30%;
  font-size:25px;
  color:#fff;
  text-align:center;
font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;}


